
.centralizar_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(50px); 
    padding: 2px;
    border-radius: 5px;
    border: #b4d3b2;
    border-width: 1px;
    width: 100%; 
    position: fixed;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 1000; 
    position: fixed;
}
.inicio_e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 22px;
    margin-left: 30px;
}

.inicio_d {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 22px;
    margin-right: 30px; 
}
.p1 {
    margin-left: 100px;
}

.p2 {
    margin-right: 70px;
}
.botao_log{
    padding-right   : 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-width: 2px;
    background-color:#b4d3b2;
    margin-right: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 2s ease;
}
.botao_log:hover {
    transform: scale(1.1);
    z-index: 1;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
.icon{
    height: 10vh;
}
.footer {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    padding: 20px;
    color: aliceblue;
    width: 100%;
    justify-content: center;
}
.C_admin{
    background-color:#b4d3b2;
}