.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 20px;
    color: #fff;
    z-index: 1000; 
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}


.card {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 10%;
    padding: 5vh;
    border-radius: 30px;
    transition: transform 1s ease;
    background-color: white;
}

.imagem_card_user {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.carde {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 150vh;
    margin-bottom: 20px;
}

.card {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 50%;
    padding: 10vh;
    border-radius: 30px;
    margin-bottom: 20px;
}

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerlizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-checkbox {
    display: none;
}

.menu-icon {
    cursor: pointer;
    padding: 1px;
    background-color: black;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 2px;
    left: 1;
    border-radius: 20%;
  ;
}



.menu-checkbox:checked ~ .menu {
    right: 0;
}

.menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
 
    padding: 20px;
    color: #fff;
    transition: right 0.3s ease;
    z-index: 999;
    height: 100vh;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}